<div class="columns vertical-top-margin">
    <div class="column is-half is-offset-one-quarter">
        <div class="box has-text-centered authentication-box">
            <h3 class="title is-4">Login</h3>

            <hr>

            <article *ngIf="this.errorMessage" class="message is-danger">
                <div class="message-body">
                  {{ this.errorMessage }}
                </div>
              </article>

            <form [formGroup]="loginForm" #ngForm="ngForm" (ngSubmit)="onSubmit()">

                <div class="field">
                    <p class="control has-icons-left">
                        <input 
                            class="input" 
                            type="text" 
                            placeholder="Email or Username"
                            [ngClass]="validation.displayFieldCss('identifier')"
                            formControlName="identifier">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                    <p *ngIf="validation.isFieldValid('identifier')" class="help is-danger">
                        {{ validation.getErrorMessage("identifier") }}
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input 
                            class="input" 
                            type="password" 
                            placeholder="Password"
                            formControlName="password"
                            [ngClass]="validation.displayFieldCss('password')">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                    <p *ngIf="validation.isFieldValid('password')" class="help is-danger">
                        {{ validation.getErrorMessage('password') }}
                    </p>
                </div>

                <div class="field">
                    <p class="control" >
                        <button class="button is-primary" 
                            [disabled]="!loginForm.valid && !loginForm.dirty"
                            [class.is-loading]="submited">
                            Submit
                        </button>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>