<div class="content-box">

  <!-- SPINNER -->
  <app-spinner [loading]="isLoading"></app-spinner>

  <!-- ERROR MESSAGE -->
  <app-error-message [error]="errorMessage"></app-error-message>

  <div *ngIf="!isLoading && !errorMessage">
    <!-- SEARCH BAR COMPONENT -->
    <app-search-bar (search)="onSearch($event)" [placeholder]="'Search processes by name'"></app-search-bar>

    <br />

    <div class="has-text-centered">
      <!-- TABLE -->
      <table class="table is-striped is-fullwidth is-hoverable is-striped">

        <!-- TABLE HEAD -->
        <thead>
          <tr>
            <th>Application name</th>
            <th>Occures</th>
            <th>Google link</th>
          </tr>
        </thead>

        <!-- TABLE BODY -->
        <tbody>
          <tr *ngFor="let application of records">
            <th> {{ application.applicationName }} </th>
            <th> {{ application.occuresNumOfTime }} </th>
            <th> <a target="_blank" href="{{application.googleSearchQuery}}">link</a></th>
          </tr>
        </tbody>
      </table>
    </div>

    <br>

    <!-- TABLE BUTTONS AND PAGE NUM -->
    <app-list-pages [client]="this"></app-list-pages>
  </div>

</div>