:root {
    --brand-color: #2ed6af;
    --background-color: #ECF0F3;
}

.section {
    position: relative;
}

html, body {
    height: 100%;
    background: var(--background-color);
}

.vertical-top-margin {
    margin-top: 4rem;
}

.brand-color-text {
    color: var(--brand-color);
}

.brand-color-bg {
    background: var(--brand-color);
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
}

.footer {
    padding: 2rem 1.5rem;
}

.authentication-box {
    padding: 3rem 6rem;
}

.content-box {
    margin: 2rem 8rem;
}

.tab-box {
    margin: 0rem 8rem;
}

.hide {
    visibility: hidden;
}

.notification {
    position: absolute;
    top: -42px;
    right: -10px;
}

@media only screen and (max-width: 750px) {
    .content-box {
        margin: 2rem 2rem;
    }

    .tab-box {
        margin: 0rem 2rem;
    }
}