<div class="content-box">

    <!-- CHART FOR SINGLE USER -->
    <div>
        <div class="box has-text-centered">
            <p class="heading">Maximum number of sessions</p>
            <p class="title"> {{ maxNumOfSessions }} </p>
        </div>
        <div *ngIf="columnChart.data.data.length > 0" class="box">
            <canvas baseChart
                [legend]="columnChart.data.title"
                [data]="columnChart.data.data"
                [labels]="columnChart.data.labels"
                [chartType]="columnChart.data.type"
                [colors]="columnChart.data.colors"></canvas>
        </div>
        <article *ngIf="!columnChart.isLoading && columnChart.errorMessage" class="message is-danger content-box">
            <div class="message-body">
                {{ columnChart.errorMessage }}
            </div>
        </article>
        <div *ngIf="columnChart.isLoading" class="content-box box">
            <app-spinner></app-spinner>
        </div>
    </div>

    <br>

    <div>
        <div *ngIf="lineChart.data.data.length > 0" class="box">
            <canvas baseChart
                [legend]="lineChart.data.title"
                [data]="lineChart.data.data"
                [labels]="lineChart.data.labels"
                [chartType]="lineChart.data.type"
                [colors]="lineChart.data.colors"></canvas>
        </div>
        <article *ngIf="!lineChart.isLoading && lineChart.errorMessage" class="message is-danger content-box">
            <div class="message-body">
                {{ lineChart.errorMessage }}
            </div>
        </article>
        <div *ngIf="lineChart.isLoading" class="content-box box">
            <app-spinner></app-spinner>
        </div>
    </div>

</div>