<div class="content-box">

    <!-- STATS FOR ALL USERS (NUMBERS) -->
    <div>
        <div *ngIf="!bestDay.isLoading && !bestDay.errorMessage" class="columns is-multiline has-text-centered">
            <div class="column is-half">
                <div class="box">
                    <p class="heading">Day with most diferent processes</p>
                    <p class="title"> {{ bestDay.data?.day | date:'dd/MM/yyyy' }} </p>
                </div>
            </div>
            <div class="column is-half">
                <div class="box">
                    <p class="heading">Maximum number of different processes (Single day)</p>
                    <p class="title"> {{ bestDay.data?.totalNumberOfDifferentProcesses }} </p>
                </div>
            </div>
        </div>
        <!-- SPINNER -->
        <app-spinner [loading]="bestDay.isLoading"></app-spinner>

        <!-- ERROR MESSAGE -->
        <app-error-message [error]="bestDay.errorMessage"></app-error-message>
    </div>

    <!-- SPACING -->
    <br>

    <!-- DIFFERENT PROCESSES FOR PERIOD -->
    <app-chart-canvas [chart]="pieChart"></app-chart-canvas>

    <!-- SPACING -->
    <br>

    <!-- TOP PROCESSES SECTION -->
    <div>

        <!-- NUM STATIS FOR MAXIMUM SESSIONS -->
        <div class="box has-text-centered">
            <p class="heading">Maximum number of sessions</p>
            <p class="title"> {{ maxNumOfSessions }} </p>
        </div>

        <!-- TOP 20 PROCESSES -->
        <app-chart-canvas [chart]="columnChart"></app-chart-canvas>
    </div>

</div>