<div class="content-box">

    <!-- STATS FOR ALL USERS (NUMBERS) -->
    <div>
        <div *ngIf="!bestDay.isLoading && !bestDay.errorMessage" class="columns is-multiline has-text-centered">
            <div class="column is-half">
                <div class="box">
                    <p class="heading">Day with most diferent processes</p>
                    <p class="title"> {{ bestDay.data?.day | date:'dd/MM/yyyy' }} </p>
                </div>
            </div>
            <div class="column is-half">
                <div class="box">
                    <p class="heading">Maximum number of different processes (Single day)</p>
                    <p class="title"> {{ bestDay.data?.totalNumberOfDifferentProcesses }} </p>
                </div>
            </div>
        </div>
        <article *ngIf="!bestDay.isLoading && bestDay.errorMessage" class="message is-danger">
            <div class="message-body">
                {{ bestDay.errorMessage }}
            </div>
        </article>
        <div *ngIf="bestDay.isLoading" class="box">
            <app-spinner></app-spinner>
        </div>
    </div>

    <!-- SPACING -->
    <br>

    <!-- DIFFERENT PROCESSES FOR PERIOD -->
    <div>
        <div *ngIf="pieChart.data.data.length > 0" class="box">
            <div class="has-text-centered">
                <p class="heading">Number of different processes (Last month period)</p>
            </div>
            <canvas baseChart
                [legend]="pieChart.data.title"
                [data]="pieChart.data.data"
                [labels]="pieChart.data.labels"
                [chartType]="pieChart.data.type"
                [colors]="pieChart.data.colors"></canvas>
        </div>
        <article *ngIf="!pieChart.isLoading && pieChart.errorMessage" class="message is-danger">
            <div class="message-body">
                {{ bestDay.errorMessage }}
            </div>
        </article>
        <div *ngIf="pieChart.isLoading" class="box">
            <app-spinner></app-spinner>
        </div>
    </div>

    <br>

    <!-- TOP PROCESSES SECTION -->
    <div>

        <!-- NUM STATIS FOR MAXIMUM SESSIONS -->
        <div class="box has-text-centered">
            <p class="heading">Maximum number of sessions</p>
            <p class="title"> {{ maxNumOfSessions }} </p>
        </div>

        <!-- TOP PROCESSES -->
        <div *ngIf="columnChart.data.data.length > 0" class="box">
            <div class="has-text-centered">
                <p class="heading">Top 20 processes (Last month period)</p>
            </div>
            <canvas baseChart
                [legend]="columnChart.data.title"
                [data]="columnChart.data.data"
                [labels]="columnChart.data.labels"
                [chartType]="columnChart.data.type"
                [colors]="columnChart.data.colors"></canvas>
        </div>
        <article *ngIf="!columnChart.isLoading && columnChart.errorMessage" class="message is-danger">
            <div class="message-body">
                {{ bestDay.errorMessage }}
            </div>
        </article>
        <div *ngIf="columnChart.isLoading" class="box">
            <app-spinner></app-spinner>
        </div>
    </div>

</div>