<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">

    <target name="database"
            xsi:type="Database"
            connectionString="Data Source=DESKTOP-R7G16RS;Initial Catalog=ProcessExplorer;Integrated Security=True">

      <!--
      CREATE TABLE [dbo].[Log] (
	      [Id] [int] IDENTITY(1,1) NOT NULL,
	      [MachineName] [nvarchar](50) NOT NULL,
	      [Logged] [datetime] NOT NULL,
	      [Level] [nvarchar](50) NOT NULL,
	      [Message] [nvarchar](max) NOT NULL,
	      [Logger] [nvarchar](250) NULL,
	      [Callsite] [nvarchar](max) NULL,
	      [Exception] [nvarchar](max) NULL,
        CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
          WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
      ) ON [PRIMARY]
      -->


      <commandText>
        insert into dbo.Log (
        MachineName, Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @MachineName, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@callsite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>