<div class="columns vertical-top-margin">
    <div class="column is-half is-offset-one-quarter">
        <div class="box has-text-centered authentication-box">
            <h3 class="title is-4">Sign up</h3>

            <hr>

            <article *ngIf="this.errorMessage" class="message is-danger">
                <div class="message-body">
                  {{ this.errorMessage }}
                </div>
            </article>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="field">
                    <p class="control has-icons-left">
                        <input 
                            class="input" 
                            type="email" 
                            placeholder="Email"
                            [ngClass]="validation.displayFieldCss('email')"
                            formControlName="email"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                    <p *ngIf="validation.isFieldValid('email')" class="help is-danger">
                        {{ validation.getErrorMessage("email") }}
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input 
                            class="input" 
                            type="text" 
                            placeholder="Username"
                            [ngClass]="validation.displayFieldCss('username')"
                            formControlName="username"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                    <p *ngIf="validation.isFieldValid('username')" class="help is-danger">
                        {{ validation.getErrorMessage("username") }}
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input 
                            class="input" 
                            type="password" 
                            placeholder="Password"
                            [ngClass]="validation.displayFieldCss('password')"
                            formControlName="password"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                    <p *ngIf="validation.isFieldValid('password')" class="help is-danger">
                        {{ validation.getErrorMessage("password") }}
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <button 
                            class="button is-primary"
                            [disabled]="!registerForm.valid && !registerForm.dirty"
                            [class.is-loading]="submited">
                            Submit
                        </button>
                    </p>
                </div>

            </form>

            
        </div>
    </div>
</div>